.container {
    width: 100%;
    display: flex;
    background-color: #fff;
}
.searchBar {
    width: 600px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 70px 0 70px 70px;
    color: #fff;
    font-size: x-large;
    background-color: rgb(30 41 59);
}

.searchBar form {
    display: flex;
    flex-direction: column;
}

.searchBar input {
    padding: 5px;
    color: black;
}

@media (max-width: 767px) {
    .searchBar {
        width: 80%;
        margin: 50px auto;
    }
}
